# Tavily serach api key
TAVILY_API_KEY ="Enter your api key here"

# Groq api key
GROQ_API_KEY="Enter your api key here"

# Gemini api key
GEMINI_API_KEY="Enter your api key here"

# Mistral api key
MISTRAL_API_KEY="Enter your api key here"

# Common settings
TEMPERATURE=0.7
